@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-repeat: no-repeat;
  background-image: url(bg.avif);
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}
.container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.dropdown-container {
  display: block;
  margin-left: 32%;
}
#zonelabel{
  font-size: 35px;
  color: antiquewhite;
}

.clock {
  background-color: rgba(146, 220, 204, 0.929);
  height: 300px;
  width: 300px;
  margin: 50px 25px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.7),
    0px 0px 20px rgba(0, 0, 0, 0.65);
  color: rgba(12, 6, 63, 1);
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.clock ul li {
  position: absolute;
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
  inset: 6px;
  list-style: none;
}
.clock ul li span {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
}
.clock::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: aliceblue;
  position: absolute;
}

.needle {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 10ms ease-in-out;
}
.needle span {
  width: 5px;
  height: var(--h);
  background-color: var(--clr);
  position: absolute;
  border-radius: 5px;
}
.digital {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 52px;
  height: 100px;
  width: 200px;
  border: 2px white solid;
  border-radius: 20px;
  background-color: rgba(146, 220, 204, 0.929);
  box-shadow: 0px 0px 10px rgba(200, 200, 200, 0.7),
    0px 0px 20px rgba(0, 0, 0, 0.65);
  color: rgba(12, 6, 63, 1);
}
.digital p{
  font-size: 25px;
  font-weight: bolder;
  position: fixed;
}
#timeZoneSelect {
  position: relative;
  height: 40px;
  width: 120px;
  max-height: fit-content;
  font-size: 20px;
  border: rgb(51, 0, 255) solid 2px;
  border-radius: 12px;
  border-color: aqua;
  text-align: center;
  text-emphasis: unset;
  overflow-y: auto;
}

#timeZoneSelect option {
  width: 30px;
  font-size: 20px;
  background-color: white;
  overflow-y: y;
}
